.navbar {
    background: white;
    color: black;
}

.navbar-toggler {
    background: black;
}

h1 {
    font-family: "sofiapro-regular",PingFangSC,sans-serif;
    font-weight: 900;
    font-size: 30px;
}